@page "{id:int}"
@model HospiEnCasa.App.Web.Pages.ObtenerMedicoModel
@{
}
<h1 class="title">Medico</h1>

<div class="container">
  <div class="card">
    @* <img src="~/lib/Images/Medico.png" /> *@
    <h4>@Model.Medico.Nombre @Model.Medico.Apellidos</h4>
    <p>Cel: @Model.Medico.Telefono</p>
    <p>@Model.Medico.Genero</p>
    <p>@Model.Medico.Especialidad</p>
    <a asp-page="../ActualizarMedico/UpdateMedico" asp-route-id="@Model.Medico.Id">Editar</a>
    <a asp-page="../PacientesAsignados/PacientesAsignados" asp-route-id="@Model.Medico.Id">Lista de pacientes asignados</a>
    <a asp-page="../BorrarMedico/DeleteMedico" asp-route-id="@Model.Medico.Id">Eliminar</a>
  </div>
</div>