@page
@model HospiEnCasa.App.Web.Pages.Medicos.IndexModel
@{
}

<div class="d-flex flex-column align-items-end">
    <a class="btn btn-outline-primary" asp-page="./AgregarActualizarMedico/AddUpdateMedico">Registrar nuevo medico</a>
</div>
<h1 class="title">Medicos</h1>

<div class="container">
@foreach(var medico in Model.Medicos)
{
  <div class="card">
    <img src="~/lib/Images/Medico.png" />
    <h4>@medico.Nombre @medico.Apellidos</h4>
    <p>Cel: @medico.Telefono</p>
    <p>@medico.Genero</p>
    <p>@medico.Especialidad</p>
    <span>
      <a class="hyperspan" style="position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 1;" asp-page="./ObtenerMedico/ObtenerMedico" asp-route-id="@medico.IdMedico"></a>
    </span>
  </div>
}
</div>