@page
@model HospiEnCasa.App.Web.Pages.AddPacienteModel
@{
  <link href="~/css/forms.css" rel="stylesheet" type="text/css" />
}
<div class="containerForm">
  <div class="title">Registro de Paciente</div>
  <div class="content">
    <div class="row">
      <p class="text-danger">@Model.ErrorMessage</p>
    </div>
    <form method="post">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Datos Paciente
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Nombre</span>
                  <input type="text" id="nombre" asp-for="Paciente.Nombre" placeholder="Ingrese su nombre" required>
                </div>
                <div class="input-box">
                  <span class="details">Apellidos</span>
                  <input type="text" id="apellidos" asp-for="Paciente.Apellidos" placeholder="Ingrese sus apellidos"
                    required>
                </div>
                <div class="input-box">
                  <span class="details">Telefono</span>
                  <input type="text" id="telefono" asp-for="Paciente.Telefono" placeholder="Ingrese su telefono"
                    required>
                </div>
                <div class="input-box">
                  <span class="details">Enfermera</span>
                  <select id="enfermera" asp-for="Enfermera.Id">
                    @foreach (var enfermera in Model.Enfermeras)
                    {
                      <option value="@enfermera.Id">@enfermera.Nombre @enfermera.Apellidos</option>
                    }
                  </select>
                </div>
                <div class="input-box">
                  <span class="details">Medico</span>
                  <select id="medico" asp-for="Medico.Id">
                    @foreach (var medico in Model.Medicos)
                    {
                      <option value="@medico.Id">@medico.Nombre @medico.Apellidos</option>
                    }
                  </select>
                </div>
                <div class="input-box">
                  <span class="details">Direccion</span>
                  <input type="text" id="direccion" asp-for="Paciente.Direccion" placeholder="Ingrese su direccion"
                    required>
                </div>
                <div class="input-box">
                  <span class="details">Ciudad</span>
                  <input type="text" id="ciudad" asp-for="Paciente.Ciudad" placeholder="Ingrese su ciudad de residencia"
                    required>
                </div>
                <div class="input-box">
                  <span class="details">Fecha de nacimiento</span>
                  <input type="date" id="fechaNacimiento" asp-for="Paciente.FechaNacimiento"
                    placeholder="Ingrese su fecha de nacimiento" required>
                </div>
              </div>
              <div class="input-box">
                <span class="details" for="genero">Género</span>
                <select class="details" asp-for="Paciente.Genero">
                  <option value="0">Masculino</option>
                  <option value="1">Femenino</option>
                  <option value="2">Otro</option>
                </select>
                <span clas="text-danger" asp-validation-for="Paciente.Genero"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Datos familiar designado
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="user-details">
                <div class="input-box">
                  <span class="details" for="nombre">Nombre</span>
                  <input type="hidden" id="id" asp-for="FamiliarDesignado.Id" />
                  <input type="text" id="nombre" asp-for="FamiliarDesignado.Nombre" placeholder="Ingrese su nombre" />
                  <span clas="text-danger" asp-validation-for="FamiliarDesignado.Nombre"></span>
                </div>
                <div class="input-box">
                  <span class="details" for="apellidos">Apellidos</span>
                  <input type="text" id="apellidos" asp-for="FamiliarDesignado.Apellidos"
                    placeholder="Ingrese sus apellidos">
                  <span clas="text-danger" asp-validation-for="FamiliarDesignado.Apellidos"></span>
                </div>
                <div class="input-box">
                  <span class="details" for="telefono">Teléfono</span>
                  <input type="text" id="telefono" asp-for="FamiliarDesignado.Telefono"
                    placeholder="Ingrese su telefono">
                  <span clas="text-danger" asp-validation-for="FamiliarDesignado.Telefono"></span>
                </div>
                <div class="input-box">
                  <span class="details" for="parentesco">Parentesco</span>
                  <input type="text" id="parentesco" asp-for="FamiliarDesignado.Parentesco"
                    placeholder="Ingrese su especialidad" />
                  <span clas="text-danger" asp-validation-for="FamiliarDesignado.Parentesco"></span>
                </div>
                <div class="input-box">
                  <span class="details" for="correo">Correo</span>
                  <input type="email" id="correo" asp-for="FamiliarDesignado.Correo" placeholder="Ingrese su email" />
                  <span clas="text-danger" asp-validation-for="FamiliarDesignado.Correo"></span>
                </div>
                <div class="input-box">
                  <span class="details" for="genero">Género</span>
                  <select class="details" asp-for="FamiliarDesignado.Genero">
                    <option value="0">Masculino</option>
                    <option value="1">Femenino</option>
                    <option value="2">Otro</option>
                  </select>
                  <span clas="text-danger" asp-validation-for="FamiliarDesignado.Genero"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Historia
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="user-details">
                <div class="input-box">
                  <span class="details" for="nombre">Entorno</span>
                  <input type="text" id="entorno" asp-for="Historia.Entorno" placeholder="Ingrese entorno" />
                  <span clas="text-danger" asp-validation-for="Historia.Entorno"></span>
                </div>
              </div>
              <div class="user-details">
                <div class="input-box">
                  <span class="details" for="nombre">Diagnostico</span>
                  <textarea asp-for="Historia.Diagnostico"></textarea>
                  <span clas="text-danger" asp-validation-for="Historia.Diagnostico"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Signos vitales
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="user-details">
                <div class="input-box">
                  <span class="details" for="fechaHora">Fecha y hora</span>
                  <input type="datetime-local" id="FechaHora" asp-for="SignoVital.FechaHora"
                    placeholder="Ingrese fecha de la toma" required>
                  <span class="text-danger" asp-validation-for="SignoVital.FechaHora"></span>
                </div>
                <div class="input-box">
                  <span class="details" for="valor">Valores tomados</span>
                  <input type="text" id="valor" asp-for="SignoVital.Valor" placeholder="Valor tomado" required>
                  <span class="text-danger" asp-validation-for="SignoVital.Valor"></span>
                </div>
                <div class="input-box">
                  <select class="details" name="signo" id="Signo" asp-for="SignoVital.Signo">
                    <option value="1">Tensión arterial</option>
                    <option value="2">Frecuencia cardiaca</option>
                    <option value="3">Frecuencia respiratoria</option>
                    <option value="4">Saturación de oxigeno</option>
                    <option value="5">Temperatura Corporal</option>
                  </select>
                  <span class="text-danger" asp-validation-for="SignoVital.Signo"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Registrar">
      </div>
    </form>
  </div>
</div>