@page "{id:int}"
@model HospiEnCasa.App.Web.Pages.ObtenerPacienteModel
@{
}
<h1 class="title">Paciente</h1>

<div class="container">
  <div class="card">
    <img src="~/lib/Images/Paciente.png" />
    <h4>@Model.Paciente.Nombre @Model.Paciente.Apellidos</h4>
    <p>Cel: @Model.Paciente.Telefono</p>
    <p>@Model.Paciente.Genero</p>
    @* <a asp-page="./Edit" asp-route-id="@Model.Paciente.Id">Editar</a> *@
    <a asp-page="./BorrarPaciente/DeletePaciente" asp-route-id="@Model.Paciente.Id">Eliminar</a>
  </div>
</div>